.distill-site-header a.logo {
	margin: 12.5px 0;
	display: inline-block;
}
.distill-site-header a.logo img {
	display: inline-block;
	max-height: 25px;
}

.distill-site-header .nav-left a.title {
	display: none;
}

.distill-site-header .nav-left {
	margin-left: 20px;
}

.posts-list .post-preview .thumbnail img {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
}

d-article ul ul, d-article ol ul, d-article li {
  margin-bottom: 0em;
}

d-article h1 {
  font-size: 24px;
}

d-article h2 {
  font-size: 2em;
}
